:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --button-bg: #f0f0f0;
  --button-text: #000000;
  --container-border: #cccccc;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: sans-serif;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 2rem 0;
}

body.dark-mode {
  --background-color: #121212;
  --text-color: #ffffff;
  --button-bg: #333333;
  --button-text: #ffffff;
  --container-border: #444444;
}

.app-container {
  text-align: center;
  border: 1px solid var(--container-border);
  padding: 2rem;
  border-radius: 10px;
}

#theme-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

button {
  background-color: var(--button-bg);
  color: var(--button-text);
  border: 1px solid var(--container-border);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  opacity: 0.8;
}

#lotto-numbers-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0;
  flex-wrap: wrap;
}

.lotto-number {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--button-bg);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}

#disqus_thread {
  width: 100%;
  max-width: 800px; /* Adjust as needed for desired width */
  margin-top: 2rem; /* Add some space above the comments */
}